.checklist-detail {
    & .container {
        & .floating-window {
            gap: 0;
            & main {
                padding-top: 0;

                .title {
                    text-align: center;

                    & h1 {
                        font: var(--xp-text);
                    }
                }

                .checklist {
                    & .task {
                        /* border: 1px solid red; */
                        min-height: 2rem;
                        max-width: 100%;
                        position: relative;

                        & input {
                            all: unset;
                            position: absolute;
                            top: 0; right: 0; bottom: 0; left: 0;

                            &:checked + .checkbox {
                                & img {
                                    opacity: 1;
                                }
                            }
                        }

                        & .checkbox {
                            line-height: 0;
                            border: 1px solid var(--color-green-700);
                            border-radius: .25rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            flex-shrink: 0;

                            & img {
                                opacity: 0;
                            }
                        }

                        & .description {
                            font: var(--text-md);
                            overflow-wrap: break-word;
                            word-break: break-word;
                            white-space: normal;
                            width: fit-content;
                            flex-grow: 1;
                        }

                        & .xp-quantity {
                            margin-left: auto;
                            font: var(--text-sm);
                            width: 3rem;
                            text-align: center;
                        }

                        & .edit {
                            line-height: 0;
                            
                            & img {
                                width: 1rem;
                                height: 1rem;

                            }
                        }

                        &:hover {
                            .checkbox {
                                background-color: var(--color-gray-200);
                            }
                        }
                    }
                }

                & .add-task {
                    width: max-content;
                    cursor: pointer;
                }
            }
        }
    }
}