.coming-soon {
    align-content: center;
    justify-content: center;
    
    & .card {
        & .text {
            font-family: var(--font-family-roboto-mono) !important;
            font-size: 3.2vw !important;
        }
    }

    @media (width >= 30em) {
        & .card {
            & .text {
                font-size: clamp(1rem, 1.5vw, 2rem) !important;
            }
        }
    }
}