.coming-soon {
    & .container {
        align-content: center;
        justify-content: center;
        
        & .card {
            & .text {
                font-family: var(--font-family-roboto-mono) !important;
                font-size: 2.69vw !important;
            }
        }
    
        @media (width >= 35em) {
            & .card {
                & .text {
                    font-size: clamp(1rem, 1.5vw, 2rem) !important;
                }
            }
        }
    }
}