.dashboard {
    & .container {
        & .floating-window {
            & main {
                grid-template-areas:
                    "hero"
                    "xp-chart"
                    "xp-summary";
                /* grid-template-columns: 1fr 1fr; */
                padding: 0;

                & section.hero {
                    grid-area: hero;

                    & h1 {
                        font: var(--title-md);
                    }

                    & p {
                        font: var(--text-md);
                        font-size: 1.25rem;
                        margin-top: .5rem;
                    }

                    & div {
                        width: 7rem;
                        height: 7rem;
                        margin-left: auto;     
                    }
                }

                & section.xp-chart {
                    grid-area: xp-chart;

                    & h2 {
                        font: var(--title-sm);
                        font-size: 1.7rem;
                    }

                    & .chart {
                        .circle-container {
                            position: relative;
                            width: 200px;
                            height: 200px;
                            opacity: 0;
                            transition: opacity .1s .5s ease;
                        }

                        .circle-container.visible {
                            opacity: 1;
                        }

                        .circle-container svg {
                            transform: rotate(-90deg);
                        }

                        .bg-circle, .progress-circle {
                            fill: none;
                            stroke-width: 15;
                        }

                        .bg-circle {
                            stroke: #ddd;
                        }

                        .progress-circle {
                            stroke: hsl(0, 100%, 50%);
                            stroke-linecap: round;
                            transition: stroke-dashoffset 0.5s ease, stroke 0.5s ease;
                        }

                        .progress-circle.no-transition {
                            transition: none !important;
                        }

                        .percentage {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }
                }

                & section.xp-summary {
                    grid-area: xp-summary;
                    /* grid-template-areas:
                    "xp-total"
                    "xp-chart"
                    "xp-summary"; */
                    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                    flex-wrap: wrap;
                    
                    & .xp-summary-card {
                        justify-content: center;
                        position: relative;
                        text-align: center;
                        padding: 1rem;
                        flex: 1 1 0;
                        /* min-width: max-content; */

                        & h3 {
                            font: var(--title-sm);
                            font-family: var(--font-family-nunito);
                            font-size: 1rem;
                            font-weight: 700;
                            line-height: 100%;
                        }

                        & .information {
                            & .task, .xp {
                                & div {
                                    line-height: 0;

                                    & img {
                                        width: 2rem;
                                        height: 2rem;
                                        opacity: 1;
                                        filter: drop-shadow(0 .15rem .25rem var(--color-shadow-secondary));
                                    }
                                }
                                
                                & span {
                                    font: var(--xp-text);
                                    font-weight: 400;
                                    font-size: 1.5rem !important;
                                    color: var(--color-green-500);
                                    filter: drop-shadow(0 .15rem .25rem var(--color-shadow-secondary));
                                }

                                & p {
                                    font: var(--xp-text);
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                    line-height: 100%;
                                }
                            }
    
    
    
                            &.xp-daily {
                                grid-area: xp-daily;
                            }
    
                            &.xp-weekly {
                                grid-area: xp-weekly;
                            }
    
                            &.xp-total {
                                grid-area: xp-total;
                            }
                        }
                        
                    }

                    @media (width >= 25em) {
                        /* grid-template-columns: repeat(auto, 1fr); */
                    }

                    @media (width >= 27em) {
                        /* grid-template-columns: repeat(3, 1fr); */

                        & .xp-summary-card {
                        /* padding: 1.5rem; */

                            & .xp {    
                                & span {
                                    font-size: min(7rem, 15vw);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}