.signup {
    & .container {
        & .floating-window {
            & main {
                width: max-content;
                justify-self: center;
                padding: 1rem;
                background-color: var(--gray-lightest);
                border: 1px solid var(--green-lightest);
                border-radius: 1rem;
                filter: drop-shadow(0 .15rem .25rem var(--shadow-primary));
    
                & form {
                    & fieldset {
                        border: none;
    
                        & legend {
                            font: var(--text-lg);
                            margin-bottom: 1.5rem;
                        }
                    }
                }
    
                & a {
                    font: var(--text-sm);
                    color: var(--link);
                    text-align: center;
    
                    &:hover {
                        text-decoration: underline;
                        color: var(--link-hover);
                    }
                }
            }
        }
    }
}