.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-0\.25 {
    gap: .25rem;
}

.gap-0\.5 {
    gap: .5rem;
}

.gap-0\.75 {
    gap: .75rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.25 {
    gap: 1.25rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.gap-1\.75 {
    gap: 1.75rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.disabled {
    display: none;
}

.container {
    min-height: 100svh;
    display: grid;
    align-items: center;

    &:has(.floating-window) {
        justify-content: center;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url(../assets/images/background-checklist-verde.png);
        background-repeat: repeat;
        background-size: 30rem;
        background-position: 26rem 0;
        opacity: 0.2;
        pointer-events: none;
        z-index: -1;
    }
    
    & .floating-window {
        display: grid;
        gap: 1rem;
        background-color: var(--color-gray-075);
        padding: 1rem;
        margin: 1rem;
        border: 1px solid var(--color-green-accent-100);
        border-radius: 1rem;
        box-shadow: 0 .1rem .7rem var(--color-shadow-primary);
        width: calc(100vw - 2rem);
        min-height: calc(100svh - 2rem);

        & header {
            grid-row: 1;

            & .logo {
                & .logo-symbol {
                    --size: 2.7rem;
                }

                & .logo-text {
                    font-size: 1.5rem;
                }
            }

            & .button {
                font: var(--text-sm);
            }
        }
        
        & main {
            grid-row: 3;
            padding: 1rem;
        }
    }

    @media (width >= 25em) {
       & .floating-window {
            & main {
                & .screen {
                    & form {
                        & fieldset {
                            & .label {
                                & .input {
                                    width: 17.7rem;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }

    @media (width >= 31.25em) {
        & .floating-window {
            width: clamp(10rem, 77vw, 50rem);
            height: max-content;
            min-height: initial;
            margin-block: 2rem;
        }
    }

    @media (width >= 55em) {
        & .floating-window {
            width: clamp(10rem, 69vw, 50rem);

            & header {
                grid-row: 1;
    
                & .logo {
                    & .logo-symbol {
                        --size: 3rem;
                    }
    
                    & .logo-text {
                        font-size: 1.69rem;
                    }
                }
    
                & .button {
                    font: var(--text-md);
                }
            }
        }
    }
}

.logo {
    & .logo-symbol {
        --size: 3rem;
        width: var(--size);
        height: calc(var(--size) - .31rem);
        flex-shrink: 0;
        
        & img {
            width: 100%;
            transform: translate(2.3%, -3.2%);
            filter: drop-shadow(.05rem .05rem .15rem var(--color-shadow-primary));
        }
    }

    & .logo-text {
        font: var(--logo-text);
        color: var(--color-green-500);
        filter: drop-shadow(.1rem .1rem .2rem var(--color-shadow-primary));
    }
}

.menu {
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
    filter: drop-shadow(0 .15rem .25rem var(--color-shadow-primary));
    flex-shrink: 0;
    z-index: 1;
    position: relative;
    cursor: pointer;

    @media (width >= 31.25em) {
        --size: 2.7rem;
    }

    & .menu-toggle {
        all: unset;
        width: 100%;
        height: 100%;
        background: center/65% no-repeat;
        background-color: var(--color-gray-075);
        background-image: url(../assets/icons/menu-app.svg);
        outline: 1px solid var(--color-green-500);
        border-radius: 1rem;
        transform: scaleY(-1);
        
        &.transition-enabled {
            transition: border-radius 100ms 1000ms ease;
        }

        &::after {
            content: "";
            position: absolute;
            top: -5%; left: 0; right: 0; bottom: 95%;
            background-color: var(--color-gray-075);
            margin-inline: auto;
            width: 0%;
            opacity: 0;
            transition: width 100ms 1000ms ease, opacity 100ms 1000ms ease;
        }
    }

    & .nav-menu {
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        transform: translate(0%, calc(100% + 1px));
        padding: .3rem;
        background-color: var(--color-gray-075);
        outline: 1px solid var(--color-green-400);
        overflow: hidden;
        border-radius: 1rem;
        transition: border-radius 100ms 200ms ease;
        font: var(--text-xs);
        --altura: 6.69rem;
        --largura: 8.5rem;

        @media (width >= 31.25em) {
            font: var(--text-sm);
            --altura: 6.9rem;
            --largura: 9.5rem;
        }

        & ul {
            height: 100%;
            & li {
                & a {
                    transition: filter 250ms ease, background 250ms ease;

                    & span {
                        white-space: nowrap;
                        width: 100%;

                        &.appear {
                            animation: appear 1s linear both;
                        }

                        &.disappear {
                            animation: disappear 1s linear both;
                        }
                    }

                    &:hover {
                        filter: drop-shadow(0 .1rem .25rem var(--color-shadow-secondary));
                    }
                }
            }
        }
    }


    &:has(.menu-toggle:checked) {
        & .menu-toggle {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transition: border-radius 100ms ease;

            &::after {
                width: 100%;
                opacity: 1;
                transition: width 100ms ease, opacity 100ms ease;
            }
        }

        & .nav-menu {
            transition: border-radius 100ms 500ms ease;
            
            &.slideOpenMenu {
                animation: slideOpenMenu 1s ease both;
            }
        }
    }

    &:has(.menu-toggle:not(:checked)) {
        & .nav-menu {
            display: none;

            &.slideCloseMenu {
                display: initial;
                animation: slideCloseMenu 1s ease forwards;
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideCloseMenu {
    0% {
        width: var(--largura);
        height: var(--altura);
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        opacity: 1;
    }
    50% {
        width: 100%;
        height: var(--altura);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 0;
        opacity: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@keyframes slideOpenMenu {
    0% {
        width: 100%;
        height: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    50% {
        width: 100%;
        height: var(--altura);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    100% {
        width: var(--largura);
        height: var(--altura);
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
    }
}


.button-ghost {
    padding: .5rem;
    border-radius: 1rem;
    transition: background-color 100ms ease-in;
    transition: filter 100ms ease-in, background 100ms ease-in;

    & img {
        width: 1rem;

        @media (width >= 31.25em) {
            width: 1.2rem;
        }
    }

    &:hover {
        background-color: var(--color-gray-050);
    }
}

.button-float-light {
    display: inline-block;
    padding: .3rem 1rem;
    background-color: var(--color-gray-050);
    border: 1px solid var(--color-green-400);
    border-radius: 999px;
    font: var(--text-md);
    color: var(--color-gray-800);
    filter: drop-shadow(0 .15rem .25rem var(--color-shadow-primary));
    transition: background-color 100ms ease-in, color 100ms ease-in, filter 100ms ease-in;

    &:hover, &:focus, &:focus-within {
        background-color: var(--color-gray-075);
        color: var(--color-black);
        filter: drop-shadow(0 .1rem .2rem var(--color-shadow-primary));
    }
}

.button-float-dark {
    display: inline-block;
    padding: .3rem 1rem;
    background-color: var(--color-green-500);
    border-radius: 999px;
    font: var(--text-md);
    color: var(--color-gray-050);
    filter: drop-shadow(0 .15rem .25rem var(--color-shadow-primary));
    transition: background-color 100ms ease-in, color 100ms ease-in, filter 100ms ease-in;

    &:hover, &:focus, &:focus-within {
        background-color: var(--color-green-600);
        color: var(--color-white);
        filter: drop-shadow(0 .1rem .2rem var(--color-shadow-primary));
    }
}

.card {
    padding: 1rem;
    background-color: var(--color-gray-050);
    border: 1px solid var(--color-green-400);
    border-radius: 1rem;
    filter: drop-shadow(0 .15rem .25rem var(--color-shadow-primary));
    transition: background-color 100ms ease-in, filter 100ms ease-in;

    
    & .icon {
        width: 3.5rem;
        height: 3.5rem;
        padding: .5rem;
        flex-shrink: 0;
        
        & img {
            width: 100%;
        }
    }
    
    & .text {
        width: 100%;
        
        & h2 {
            width: 100%;
            font: var(--title-sm);
            color: var(--color-green-800);
            transition: color 100ms ease-in;
        }
        
        & p {
            width: 100%;
            font: var(--text-sm);
            color: var(--color-gray-900);
            transition: color 100ms ease-in;
        }
    }

    &.hover:hover, &.hover:focus, &.hover:focus-within {
        background-color: var(--color-gray-075);
        filter: drop-shadow(.1rem .1rem .2rem var(--color-shadow-primary));

        & .text {
            & h2 {
                color: var(--color-black);
            }
            
            & p {
                color: var(--color-black);
            }
        }
    }
}

.label {
    width: 100%;

    & .input, & .select {
        width: 100%;
        height: 2rem;
        padding: .35rem;
        margin-top: .25rem;
        background-color: var(--color-gray-075);
        border: 1px solid var(--color-gray-200);
        border-radius: .25rem;
        font: var(--text-md);
        transition: border 100ms ease-in, outline 100ms ease-in, filter 100ms ease-in;
    
        &:hover {
            border: 1px solid var(--color-green-500);
        }
    
        &:focus, &:focus-within {
            border: 1px solid var(--color-green-600);
            outline: 1px solid var(--color-green-600);
        }
    }
}

.signature {
    display: block;
    text-align: center;
    
    & a {
        display: inline-block;
        font: var(--signature);
        color: var(--color-gray-800);
        background: var(--color-gray-050);
        border: 1px solid var(--color-green-400);
        padding: .1875rem .4375rem .3125rem;
        border-radius: .375rem;
        filter: drop-shadow(.15rem .15rem .25rem var(--color-shadow-primary));
        transition: background-color 100ms ease-in, color 100ms ease-in, filter 100ms ease-in;
        
        &:hover, &:focus, &:focus-within {
            background: var(--color-gray-075);
            color: var(--color-black);
            filter: drop-shadow(.1rem .1rem .2rem var(--color-shadow-primary));
        }
    }

    @media (width >= 50em) {
        & a {
            font-size: 1rem;
        }
    }
}