.container {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid gray;
}

.flex {
    display: flex;
}

.gap-0\.25 {
    gap: 0.25rem;
}

.gap-0\.5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}