.container {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url(../assets/images/background-checklist-verde.png);
        background-repeat: repeat;
        background-size: 30rem;
        background-position: 26rem 0;
        opacity: 0.2;
        pointer-events: none;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url(../assets/images/clipboard-checklist-xp.png);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 13rem;
        background-size: 37%;
        opacity: 0.85;
        pointer-events: none;
        z-index: 0;
        filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.3));
    }
    
    & main {
        margin-bottom: 4rem;

        & section.hero {
            margin-block: 2rem;
    
            & h1 {
                width: 60%;
                font: var(--title-md);
                color: rgb(25, 50, 30);
                filter: drop-shadow(.1rem .1rem .15rem rgba(0, 0, 0, 0.1));
            }
    
            & p {
                width: 55%;
                margin-block: 1rem;
                font: var(--text-sm);
                filter: drop-shadow(.1rem .1rem .15rem rgba(0, 0, 0, 0.1));
            }
        }

        & section.features {
            width: clamp(17rem, 100%, 100%);

            .card.checklist-feature {
                & .icon {
                    background-color: #257755;
                    border-radius: 20%;
    
                    & img {
                        transform: translateY(3%);
                    }
                }
            }
    
            .card.score-feature {
                & .icon {
                    background-color: #257755;
                    border-radius: 50%;
                    font: var(--xp);

                    & span {
                        color: #F0FAF4;
                    }
                }
            }
    
            .card.tips-feature {
                & .icon {
                    & img {
                        scale: 1.35;
                    }
                }
            }
        }
    }

    & footer {
        & p {
            text-align: center;
            margin-block: 3rem 1rem;
            filter: drop-shadow(.1rem .1rem .15rem rgba(0, 0, 0, 0.1));

            &:first-child {
                font-size: 1rem;
                font-weight: 600;
                color: #257755;
            }

            &:last-child {
                font-size: .7rem;
            }
        }
    }

    @media (width >= 21em) { 
        &::after {
            background-position-y: 12.5rem;
        }
    }

    @media (width >= 22em) { 
        &::after {
            background-position-y: 12rem;
        }
    }

    @media (width >= 23em) { 
        &::after {
            background-position-y: 11rem;
        }

        & footer {
            p:first-child {
                font-size: 1.1rem;
            }
        }
    }
    
    @media (width >= 24em) {
        &::after {
            background-position-y: 10rem;
        }

        & footer {
            p:first-child {
                font-size: 1.15rem;
            }
        }
    }
    
    @media (width >= 25em) {
        &::after {
            background-position-y: 9rem;
        }

        & footer {
            p:first-child {
                font-size: 1.2rem;
            }

            & p:last-child {
                font-size: .8rem;
            }
        }
    }
    
    @media (width >= 26em) {
        &::after {
            background-position-y: 8.5rem;
        }

        & footer {
            p:first-child {
                font-size: 1.25rem;
            }
        }
    }
    
    @media (width >= 27em) {
        &::after {
            background-position-y: 8rem;
        }

        & footer {
            p:first-child {
                font-size: 1.3rem;
            }
        }
    }
    
    @media (width >= 28em) {
        &::after {
            background-position-y: 7.5rem;
        }

        & footer {
            p:first-child {
                font-size: 1.35rem;
            }
        }
    }
    
    @media (width >= 29em) {
        &::after {
            background-position-y: 7rem;
        }

        & footer {
            p:first-child {
                font-size: 1.4rem;
            }
        }
    }
    
    @media (width >= 30em) {
        &::after {
            background-position-y: 6.5rem;
        }

        & footer {
            p:first-child {
                font-size: 1.45rem;
            }

            & p:last-child {
                font-size: .9rem;
            }
        }
    }
    
    @media (width >= 31em) {
        &::after {
            background-position-y: 6rem;
        }

        & footer {
            p:first-child {
                font-size: 1.5rem;
            }
        }
    }
    
    @media (width >= 32em) {
        &::after {
            background-position-y: 5.5rem;
        }
    }
    
    @media (width >= 33em) {
        &::after {
            background-position-y: 5rem;
        }
    }
    
    @media (width >= 34em) {
        &::after {
            background-position-y: 4.5rem;
        }
    }
    
    @media (width >= 35em) {
        &::after {
            background-position-y: 4rem;
        }
    }
    
    @media (width >= 36em) {
        &::after {
            background-position-y: 3.75rem;
            background-size: 36%;
        }
    }
    
    @media (width >= 37em) {
        &::after {
            background-position-y: 3.5rem;
            background-size: 35%;
        }
    }
    
    @media (width >= 38em) {
        &::after {
            background-position-y: 3.25rem;
            background-size: 33%;
        }
    }
    
    @media (width >= 39em) {
        &::after {
            background-position-y: 3rem;
            background-size: 31%;
        }
    }
    
    @media (width >= 40em) {
        &::after {
            background-size: 30%;
        }
    }
    
    @media (width >= 41em) {
        &::after {
            background-size: 29%;
        }
    }
    
    @media (width >= 42em) {
        &::after {
            background-size: 28%;
        }
    }
    
    @media (width >= 43em) {
        &::after {
            background-size: 27%;
        }
    }
    
    @media (width >= 44em) {
        &::after {
            background-size: 26%;
        }
    }
    
    @media (width >= 45em) {
        &::after {
            background-size: 25%;
        }
    }
    
    @media (width >= 46em) {
        &::after {
            background-position-y: 2.5rem;
            background-size: 24%;
        }

        & main {
            & section.hero {
                & p {
                    width: 70%;
                }
            }
        }
    }
    
    @media (width >= 47em) {
        &::after {
            background-size: 23.75%;
        }
    }
    
    @media (width >= 48em) {
        &::after {
            background-size: 23.5%;
        }
    }

    @media (width >= 49em) {
        &::after {
            background-size: 23.25%;
        }
    }

    @media (width >= 50em) {
        padding: 2rem;

        &::after {
            background-position-x: 92%;
            background-position-y: 17rem;
            background-size: 37%;
        }

        & header {
            & .logo {
                gap: 1rem;

                & .logo-symbol {
                    --size: 5rem;
                }

                & .logo-text {
                    font-size: 3rem;
                    font-weight: 700;
                }
            }

            & .button {
                font-size: 1.15rem;
                padding: .5rem 1.5rem;
            }
        }

        & main {
            & section.hero {
                & h1 {
                    font-size: 2.5rem;
                    width: 100%;
                }

                & p {
                    font-size: 1.25rem;
                    margin-block: 1.25rem 2rem;
                    width: 60%;
                }

                & .button {
                    font-size: 1.15rem;
                    padding: .7rem 1.7rem;
                }
            }

            & section.features {
                gap: .7rem;
                
                & .card {
                    width: clamp(17rem, 50%, 43rem);
                    gap: 1rem;
                    
                    & .text {
                        & h2 {
                            font-size: 1.5rem !important;
                        }
                    }
                }
            }
        }
    }

    @media (width >= 51em) {
        background-position-y: 16.75rem;
    }

    @media (width >= 52em) {
        &::after {
            background-position-y: 16.5rem;
        }
    }
    
    @media (width >= 53em) {
        &::after {
            background-position-y: 16rem;
        }
    }
    
    @media (width >= 54em) {
        &::after {
            background-position-y: 15.5rem;
        }
    }
    
    @media (width >= 55em) {
        &::after {
            background-position-y: 15rem;
        }
    }

    @media (width >= 56em) {
        &::after {
            background-position-y: 14.5rem;
        }
    }

    @media (width >= 57em) {
        &::after {
            background-position-y: 14rem;
        }
    }

    @media (width >= 58em) {
        &::after {
            background-position-y: 13.5rem;
        }
    }

    @media (width >= 59em) {
        &::after {
            background-position-y: 13rem;
        }
    }
    
    @media (width >= 60em) {
        &::after {
            background-position-y: 12.5rem;
        }
    }
    
    @media (width >= 64em) {
        &::after {
            background-size: 25rem;
        }
    }
    
    @media (width >= 70em) {
        &::after {
            background-position-x: 91.5%;
        }
    }
    
    @media (width >= 72.5em) {
        &::after {
            background-position-x: 91%;
            background-position-y: 10rem;
            background-size: 26rem;
        }
    }
    
    @media (width >= 75em) {
        &::after {
            background-position-x: 90.5%;
        }
    }
    
    @media (width >= 76em) {
        &::after {
            background-position-x: 90%;
        }
    }
    
    @media (width >= 77em) {
        &::after {
            background-position-y: 9rem;
            background-size: 27rem;
        }
    }
    
    @media (width >= 78em) {
        &::after {
            background-position-x: 89.5%;
        }
    }
    
    @media (width >= 79em) {
        &::after {
            background-position-x: 89%;
        }
    }
    
    @media (width >= 80em) {
        &::after {
            background-position-y: 8rem;
            background-size: 28rem;
        }
    }
    
    @media (width >= 81em) {
        &::after {
            background-position-x: 88.5%;
        }
    }
    
    @media (width >= 82em) {
        &::after {
            background-position-x: 88%;
        }
    }
    
    @media (width >= 84em) {
        &::after {
            background-position-x: 87.5%;
        }
    }
    
    @media (width >= 85em) {
        &::after {
            background-position-x: 87%;
        }
    }
    
    @media (width >= 87em) {
        &::after {
            background-position-x: 86.5%;
        }
    }
    
    @media (width >= 88em) {
        &::after {
            background-position-x: 86%;
        }
    }
    
    @media (width >= 90em) {
        &::after {
            background-position-x: 85.5%;
        }
    }
    
    @media (width >= 91em) {
        &::after {
            background-position-x: 85%;
        }
    }
    
    @media (width >= 93em) {
        &::after {
            background-position-x: 84.5%;
        }
    }
    
    @media (width >= 94em) {
        &::after {
            background-position-x: 84%;
        }
    }
    
    @media (width >= 96em) {
        &::after {
            background-position-x: 83.5%;
        }
    }
    
    @media (width >= 97em) {
        &::after {
            background-position-x: 83%;
        }
    }
    
    @media (width >= 99em) {
        &::after {
            background-position-x: 82.5%;
        }
    }

    @media (width >= 100em) {
        &::after {
            background-position-x: 82%;
        }

        & header {
            & .logo {
                gap: 1rem;

                & .logo-symbol {
                    --size: 5.5rem;
                }

                & .logo-text {
                    font-size: 3.5rem;
                    font-weight: 700;
                }
            }

            & .button {
                font-size: 1.15rem;
                font-weight: 400;
                padding: .7rem 1.7rem;
            }
        }

        & main {
            & section.hero {
                & h1 {
                    font-size: 3rem;
                    font-weight: 500;
                    width: 100%;
                }
            }

            & section.features {
                & .card {    
                    width: 51.5rem;
    
                    & .text {
                        & h2 {
                            font-size: 1.75rem !important;
                            font-weight: 500 !important;
                        }
        
                        & p {
                            font-size: 1rem !important;
                        }
                    } 
                }
            }
        }
    }
}